* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #0b1605;
    color: #e8f5e9;
    min-height: 100vh;
}

header {
    background: #003d00;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

header p {
    font-size: 20px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 50px 20px;
}

.welcome {
    text-align: center;
    margin-bottom: 40px;
}

.welcome h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.welcome p {
    font-size: 20px;
    margin-bottom: 25px;
}

#addPlantBtn {
    background: #00a51a;
    color: white;
    border: none;
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

#addPlantBtn:hover {
    background: #008f16;
}

.plant-card {
    background: #202020;
    padding: 30px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.plant-card h2 {
    color: #72e278;
    margin-bottom: 25px;
}

.plant-card p {
    font-size: 18px;
    margin: 15px 0;
}

.water-btn {
    background: #008f12;
    color: white;
    border: none;
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.water-btn:hover {
    background: #00a51a;
}

footer {
    text-align: center;
    padding: 50px 20px;
    font-size: 18px;
    color: #cccccc;
}

@media (max-width: 600px) {

    header h1 {
        font-size: 32px;
    }

    header p {
        font-size: 18px;
    }

    .welcome h2 {
        font-size: 28px;
    }

    .plant-card {
        padding: 25px;
    }
}