* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #001a00;
    color: white;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #003300;
}

header h1 {
    font-size: 42px;
    color: #32cd32;
}

header p {
    font-size: 20px;
}

main {
    padding: 30px 20px;
    max-width: 900px;
    margin: auto;
}

.welcome {
    text-align: center;
    padding: 30px;
}

.welcome h2 {
    font-size: 36px;
}

.welcome p {
    font-size: 20px;
}

button {
    border: none;
    padding: 14px 24px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 8px 5px;
}

#addPlantBtn {
    background: green;
    color: white;
    font-size: 20px;
}

.plant-card {
    background: #001000;
    padding: 30px;
    margin: 25px 0;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 255, 0, 0.15);
}

.plant-card h2 {
    color: #32cd32;
    font-size: 30px;
}

.plant-card p {
    font-size: 20px;
}

.water-btn {
    background: green;
    color: white;
}

.edit-btn {
    background: #1976d2;
    color: white;
}

.delete-btn {
    background: #d32f2f;
    color: white;
}

.water-btn:hover {
    background: #005a00;
}

.edit-btn:hover {
    background: #0d47a1;
}

.delete-btn:hover {
    background: #9a0000;
}

footer {
    text-align: center;
    padding: 40px;
    color: gray;
}